[MESSAGES CONTROL]
disable=missing-function-docstring,
        missing-module-docstring,
        too-many-lines,
        line-too-long,
        broad-exception-raised,
        broad-exception-caught,
        import-error,
        import-outside-toplevel,
        unused-import,
        redefined-outer-name,
        unused-argument,
        reimported,
        no-else-return,
        consider-using-f-string,
        duplicate-code,
        invalid-name,
        protected-access,
        unused-variable,
        too-many-locals,
        too-many-branches,
        too-many-statements
